nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-2.py-md-3
    .container
        a.navbar-brand.fw-bold.text-primary.d-flex.align-items-center(href='index.html')
            i.fas.fa-users.me-1.me-md-2
            span.d-none.d-sm-inline HCI Team
        button.navbar-toggler.border-0.py-1(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-1.mb-lg-0
                li.nav-item
                    a.nav-link.fw-medium.px-2.px-md-3(href='index.html') 
                        i.fas.fa-home.me-1.d-none.d-md-inline
                        | Inicio
                li.nav-item
                    a.nav-link.fw-medium.px-2.px-md-3(href='resume.html') 
                        i.fas.fa-graduation-cap.me-1.d-none.d-md-inline
                        | Curso
                li.nav-item
                    a.nav-link.fw-medium.px-2.px-md-3(href='video-game.html') 
                        i.fas.fa-vr-cardboard.me-1.d-none.d-md-inline
                        | Proyecto
